body {
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #795c3e;
    margin: 0 auto;
    padding:0.5cm;
}


#Cabecera{

    -webkit-box-shadow: 0px 10px 20px 3px rgba(194,180,194,0.5);
    -moz-box-shadow: 0px 10px 20px 3px rgba(194,180,194,0.5);
    box-shadow: 0px 10px 20px 3px rgba(194,180,194,0.5);
    background: #eec5d6;    
    color: white; 
    margin: 0 auto;
    padding: 0.5cm;
    font-size: 150%;
    vertical-align: middle;
 
   

}

#contain{
    width: 70%;
    padding: 0%;
    text-align: left;
    border: 1px solid #dddddd;
    margin: 0 auto;
    font-size: 100%;


}

#logo {

    height: 40px;
    vertical-align: middle
}

#contain h1{

    font-size:120%;

}

#tagline {

    font-size: 80%;
    margin: 1%;

}
#post{
    padding: 0.7cm;
}