body {
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #e9a3c6;
    margin: 0 auto;
    padding:0.5cm;
}


#Cabecera{

    background: #eec5d6;
    font-weight:bold;
    color: white; 
    margin: 0 auto;
    padding: 0.5cm;

}

#contain{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #dddddd;
    margin: 0 auto;

}

#contain h1{

    font-size:30px;

}

#post{
    padding: 1cm;
}