body {
    text-align: left;
    font-family: courier, "Helvetica Neue", Helvetica, sans-serif;
    color: #df9cd3;
}

#contain{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #dddddd;
    margin: 0 auto;

}

#contain h1{

    font-size:30px;

}